<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:bi:700">
    <!-- <script src="AudioDrop.js"></script> -->
    <script src="holy_animation.js"></script>
    <link rel="stylesheet" type="text/css" href="stylin.css">
  </head>
  <body>
    <div class="main-panel" id="app">

      <!-- <div id="controls" class="col-sm-3">
        <knob
          v-for="knob in knobs"
          :id="knob.name"
          :key="knob.id"
          :title="knob.name">
        </knob>
      </div> -->

      <div id="sliders" class="col-sm-3">
        <slider
          v-for="slider in sliders"
          :id="slider.name"
          :key="slider.id"
          :title="slider.name"
          @mousedown.native="sliderMove(slider)">
        </slider>
      </div>

      <div class="main-name col-sm-9">{{mainName}}</div>

      <div id="pads" class="col-sm-12">
        <pad
          v-for="pad in pads"
          :id="'pad-' + pad.name"
          :key="pad.id"
          :freq="pad.freq"
          @mousedown.native="padPress(pad, gainNode, audioCtx)">
        </pad>
      </div>

      <!-- <button id="sham">danks</button> -->
    </div>
  </body>

</html>
