<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:bi:700">
    <script src="https://cdn.jsdelivr.net/npm/webmidi"></script>
    <!-- <script src="AudioDrop.js"></script> -->
    <script src="holy_animation.js"></script>
    <link rel="stylesheet" type="text/css" href="stylin.css">
  </head>
  <body>
    <div class="main-panel" id="app">

      <!-- <div id="controls" class="col-sm-3">
        <knob
          v-for="knob in knobs"
          :id="knob.name"
          :key="knob.id"
          :title="knob.name">
        </knob>
      </div> -->

      <div id="sliders" class="col-sm-5">
        <div class="aligned-sliders">
          <slider
            class="vertical-sliders"
            max="50"
            value="25"
            :id="sliders[0].name"
            :key="sliders[0].id"
            :title="sliders[0].name"
            @mousedown.native="sliderMove(sliders[0])">
          </slider>
          <h4 class="vertical-labels">{{sliders[0].name}}</h4>
        </div>
        <div class="aligned-sliders">
          <slider
            class="vertical-sliders"
            :id="sliders[1].name"
            :key="sliders[1].id"
            :title="sliders[1].name"
            @mousedown.native="sliderMove(sliders[1])">
          </slider>
          <h4 class="vertical-labels">{{sliders[1].name}}</h4>
        </div>
        <div class="aligned-sliders">
          <slider
            class="vertical-sliders"
            :id="sliders[6].name"
            :key="sliders[6].id"
            :title="sliders[6].name"
            @mousedown.native="sliderMove(sliders[6])">
          </slider>
          <h4 class="vertical-labels">{{sliders[6].name}}</h4>
        </div>
        <div class="aligned-sliders">
          <slider
            class="vertical-sliders"
            value="10"
            min="1"
            max="20"
            :id="sliders[2].name"
            :key="sliders[2].id"
            :title="sliders[2].name"
            @mousedown.native="sliderMove(sliders[2])">
          </slider>
          <h4 class="vertical-labels">{{sliders[2].name}}</h4>
        </div>
        <div class="aligned-sliders">
          <slider
            min="5"
            class="vertical-sliders"
            :id="sliders[3].name"
            :key="sliders[3].id"
            :title="sliders[3].name"
            @mousedown.native="sliderMove(sliders[3])">
          </slider>
          <h4 class="vertical-labels">{{sliders[3].name}}</h4>
        </div>
        <div class="aligned-sliders">
          <slider
            class="vertical-sliders"
            :id="sliders[4].name"
            :key="sliders[4].id"
            :title="sliders[4].name"
            @mousedown.native="sliderMove(sliders[4])">
          </slider>
          <h4 class="vertical-labels">{{sliders[4].name}}</h4>
        </div>
        <div class="aligned-sliders">
          <slider
            class="vertical-sliders"
            :id="sliders[5].name"
            :key="sliders[5].id"
            :title="sliders[5].name"
            @mousedown.native="sliderMove(sliders[5])">
          </slider>
          <h4 class="vertical-labels">{{sliders[5].name}}</h4>
        </div>
      </div>

      <div class="main-name col-sm-7">{{mainName}}</div>

      <div class="settings col-sm-12">

        <div class="col-sm-6">

          <div class="col-sm-12">
            <slider
              class="osc-sliders"
              max="50"
              value="50"
              :id="sliders[7].name"
              :key="sliders[7].id"
              :title="sliders[7].name"
              @mousedown.native="sliderMove(sliders[7])">
            </slider>
          </div>

          <div class="col-sm-4">
            <h5>osc0</h5>
          </div>
          <div class="col-sm-8">
            <input type="number" step="1" class="counter" id="osc0Pitch" :value="this.$data.osc0Pitch" @change="pitchChange(0)" @click="pitchChange(0)" data-toggle="tooltip" data-placement="top" title="osc0 pitch">
          </div>
          <div class="col-sm-12">
            <input type="radio" name="wave-shape0" value="sine" id="sine0" @click="waveChange('sine', 0)" checked="true">
            <label for="sine0"><h4>sine</h4></label>
            <input type="radio" name="wave-shape0" value="square" id="square0" @click="waveChange('square', 0)">
            <label for="square0"><h4>square</h4></label>
            <input type="radio" name="wave-shape0" value="saw" id="saw0" @click="waveChange('sawtooth', 0)">
            <label for="saw0"><h4>saw</h4></label>
            <input type="radio" name="wave-shape0" value="randomWave" id="randomWave0" @click="waveChange('randomWave', 0)">
            <label for="randomWave0"><h4>random</h4></label>
          </div>

          <div class="col-sm-12">
            <slider
              class="osc-sliders"
              max="50"
              min="0"
              value="50"
              :id="sliders[8].name"
              :key="sliders[8].id"
              :title="sliders[8].name"
              @mousedown.native="sliderMove(sliders[8])">
            </slider>
          </div>

          <div class="col-sm-4">
            <h5>osc1</h5>
          </div>
          <div class="col-sm-8">
            <input type="number" step="1" class="counter" id="osc1Pitch" :value="this.$data.osc1Pitch" @change="pitchChange(1)" @click="pitchChange(1)" data-toggle="tooltip" data-placement="top" title="osc1 pitch">
            <input type="number" step="1" class="counter" id="osc1Detune" :value="this.$data.detune" @change="pitchChange(-1)" @click="pitchChange(-1)" data-toggle="tooltip" data-placement="top" title="osc1 detune">
          </div>
          <div class="col-sm-12">

            <input type="radio" name="wave-shape1" value="sine" id="sine1" @click="waveChange('sine', 1)" checked="true">
            <label for="sine1"><h4>sine</h4></label>
            <input type="radio" name="wave-shape1" value="square" id="square1" @click="waveChange('square', 1)">
            <label for="square1"><h4>square</h4></label>
            <input type="radio" name="wave-shape1" value="saw" id="saw1" @click="waveChange('sawtooth', 1)">
            <label for="saw1"><h4>saw</h4></label>
            <input type="radio" name="wave-shape1" value="randomWave" id="randomWave1" @click="waveChange('randomWave', 1)">
            <label for="randomWave1"><h4>random</h4></label>
          </div>

        </div>
        <div class="col-sm-6">

          <div class="col-sm-12 padding">
            <select id="midiSelect" style="width:80%;" @change="midiSourceChange">
              <option value="" disabled selected >no midi devices...</option>
            </select>
          </div>


          <div class="col-sm-4">
            <h4>octave</h4>
          </div>
          <div class="col-sm-8">
            <input class="btn" type="button" id="octaveDown" value="-" @click="octaveChange('down')">
            <input class="btn" type="button" id="octaveUp" value="+" @click="octaveChange('up')">
          </div>

        </div>

      </div>

      <div id="pads" class="col-sm-12">
        <pad
          v-for="pad in pads"
          :id="pad.name"
          :key="pad.id"
          :freq="pad.freq"
          @mousedown.native="padPress(pad, gainNode, audioCtx)">
        </pad>
      </div>




      <!-- <button id="sham">danks</button> -->
    </div>
  </body>

</html>
