
body {
  width: 100%;
  height: 100%;
  background-color: #ccffff;
  padding: 50px;
}

.vertical-labels {
  padding-top: 40px;
  padding-right: 80px;
  transform: rotate(90deg);
}

h4 {

  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 14px;
  z-index: 0;
}

.settings {
  float: left;
}

.main-name {
  padding: 0px 10px 0px 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
}

.main-panel {
  margin: auto;
  width: 500px;
  position: relative;
}

#controls {
  /* position: relative; */

  padding: 20px 0px 10px 30px;

}

.aligned-sliders {
  display: inline-block;
  width: 20px;

}
.slider {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  height: 50px;
  width: 10px;
  position: relative;
  float: left;
  z-index: 1;
}


.knob {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  border-radius: 2em;
  margin: 2px;
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
  background-color: #0066ff;

}
.knob-handle {
  border-radius: 2em;
  margin: 2px;
  position: relative;
  float: left;
  top: 4px;
  left: 4px;
  height: 5px;
  width: 5px;
  background-color:#fff;
}

.pad {
  margin: 2px;
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 50px;
  background-color: #cc0066;
}

#pads {

  padding: 10px;
}

.audio-box {

  height: 100%;
  width: 100%;
}

/* #thing {
  background-color: green;
}

#thing1 {
  background-color: red;
} */
