
body {
  background-color: #ccffff;
  padding: 50px;
}

.main-name {
  padding: 0px 10px 0px 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
}

.main-panel {
  margin: auto;
  width: 500px;
  position: relative;
}

#controls {
  /* position: relative; */
  padding: 20px 0px 10px 30px;
}

#volume {
  transform: 'matrix3d(1, 0, 0, 1, 0, 0)';
}

.knob {
  border-radius: 2em;
  margin: 2px;
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
  background-color: #0066ff;

}
.knob-handle {
  border-radius: 2em;
  margin: 2px;
  position: relative;
  float: left;
  top: 4px;
  left: 4px;
  height: 5px;
  width: 5px;
  background-color:#fff;
}

.pad {
  margin: 2px;
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 50px;
  background-color: #cc0066;
}

#pads {
  /* position: relative; */
  padding: 10px;
}

.audio-box {

  height: 100%;
  width: 100%;
}

/* #thing {
  background-color: green;
}

#thing1 {
  background-color: red;
} */
